# Query Pipeline over Pandas DataFrames

This is a simple example that builds a query pipeline that can perform structured operations over a Pandas DataFrame to satisfy a user query, using LLMs to infer the set of operations.

This can be treated as the "from-scratch" version of our `PandasQueryEngine`.

In [1]:
import os
import openai
from dotenv import load_dotenv

load_dotenv()
openai.api_key = os.getenv("OPENAI_API_KEY")

# Query Pipeline for Advanced Text-to-SQL

In this guide we show you how to setup a text-to-SQL pipeline over your data with our [query pipeline](https://docs.llamaindex.ai/en/stable/module_guides/querying/pipeline/root.html) syntax.

This gives you flexibility to enhance text-to-SQL with additional techniques. We show these in the below sections:
1. **Query-Time Table Retrieval**: Dynamically retrieve relevant tables in the text-to-SQL prompt.
2. **Query-Time Sample Row retrieval**: Embed/Index each row, and dynamically retrieve example rows for each table in the text-to-SQL prompt.

Our out-of-the box pipelines include our `NLSQLTableQueryEngine` and `SQLTableRetrieverQueryEngine`. (if you want to check out our text-to-SQL guide using these modules, take a look [here](https://docs.llamaindex.ai/en/stable/examples/index_structs/struct_indices/SQLIndexDemo.html)). This guide implements an advanced version of those modules, giving you the utmost flexibility to apply this to your own setting.

## Load and Ingest Data


### Load Data
We use the [WikiTableQuestions dataset](https://ppasupat.github.io/WikiTableQuestions/) (Pasupat and Liang 2015) as our test dataset.

We go through all the csv's in one folder, store each in a sqlite database (we will then build an object index over each table schema).

In [2]:
import pandas as pd
from pathlib import Path

data_dir = Path("./csv_data")
csv_files = sorted([f for f in data_dir.glob("*.csv")])
dfs = []
for csv_file in csv_files:
    print(f"processing file: {csv_file}")
    try:
        df = pd.read_csv(csv_file)
        dfs.append(df)
    except Exception as e:
        print(f"Error parsing {csv_file}: {str(e)}")

processing file: csv_data/Categories.csv
processing file: csv_data/Products.csv

### Extract Table Name and Summary from each Table

Here we use gpt-3.5 to extract a table name (with underscores) and summary from each table with our Pydantic program.

In [3]:
tableinfo_dir = "BOC_VegFruits_tableinfo"
os.system(f'mkdir {tableinfo_dir}')

mkdir: cannot create directory â€˜BOC_VegFruits_tableinfoâ€™: File exists

256

In [4]:
from llama_index.core.program import LLMTextCompletionProgram
from pydantic import BaseModel, Field
from typing import List

from llama_index.program.openai import OpenAIPydanticProgram
from llama_index.core import SQLDatabase
from llama_index.llms.openai import OpenAI

class TableInfo(BaseModel):
    """Information regarding a structured table."""

    table_name: str = Field(
        ..., description="table name (must be underscores and NO spaces)"
    )
    table_summary: str = Field(
        ..., description="short, concise summary/caption of the table"
    )


prompt_str = """\
Give me a summary of the table with the following JSON format.

- The table name must be unique to the table and describe it while being concise.
- Do NOT output a generic table name (e.g. table, my_table).

Do NOT make the table name one of the following: {exclude_table_name_list}

Table:
{table_str}

Summary: """

program = LLMTextCompletionProgram.from_defaults(
    output_cls=TableInfo,
    llm = OpenAI(model="gpt-3.5-turbo"),
    prompt_template_str=prompt_str,
)

In [5]:
import json


def _get_tableinfo_with_index(idx: int) -> str:
    results_gen = Path(tableinfo_dir).glob(f"{idx}_*")
    results_list = list(results_gen)
    if len(results_list) == 0:
        return None
    elif len(results_list) == 1:
        path = results_list[0]
        return TableInfo.parse_file(path)
    else:
        raise ValueError(
            f"More than one file matching index: {list(results_gen)}"
        )


table_names = set()
table_infos = []
for idx, df in enumerate(dfs):
    table_info = _get_tableinfo_with_index(idx)
    if table_info:
        table_infos.append(table_info)
    else:
        while True:
            df_str = df.head(10).to_csv()
            table_info = program(
                table_str=df_str,
                exclude_table_name_list=str(list(table_names)),
            )
            table_name = table_info.table_name
            print(f"Processed table: {table_name}")
            if table_name not in table_names:
                table_names.add(table_name)
                break
            else:
                # try again
                print(f"Table name {table_name} already exists, trying again.")
                pass

        out_file = f"{tableinfo_dir}/{idx}_{table_name}.json"
        json.dump(table_info.dict(), open(out_file, "w"))
    table_infos.append(table_info)

### Put Data in SQL Database

We use `sqlalchemy`, a popular SQL database toolkit, to load all the tables.

In [6]:
# put data into sqlite db
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
)
import re


# Function to create a sanitized column name
def sanitize_column_name(col_name):
    # Remove special characters and replace spaces with underscores
    return re.sub(r"\W+", "_", col_name)


# Function to create a table from a DataFrame using SQLAlchemy
def create_table_from_dataframe(
    df: pd.DataFrame, table_name: str, engine, metadata_obj
):
    # Sanitize column names
    sanitized_columns = {col: sanitize_column_name(col) for col in df.columns}
    df = df.rename(columns=sanitized_columns)

    # Dynamically create columns based on DataFrame columns and data types
    columns = [
        Column(col, String if dtype == "object" else Integer)
        for col, dtype in zip(df.columns, df.dtypes)
    ]

    # Create a table with the defined columns
    table = Table(table_name, metadata_obj, *columns)

    # Create the table in the database
    metadata_obj.create_all(engine)

    # Insert data from DataFrame into the table
    with engine.connect() as conn:
        for _, row in df.iterrows():
            insert_stmt = table.insert().values(**row.to_dict())
            conn.execute(insert_stmt)
        conn.commit()


engine = create_engine("sqlite:///:memory:")
metadata_obj = MetaData()
for idx, df in enumerate(dfs):
    tableinfo = _get_tableinfo_with_index(idx)
    print(f"Creating table: {tableinfo.table_name}")
    create_table_from_dataframe(df, tableinfo.table_name, engine, metadata_obj)

Creating table: categories
Creating table: product_info

In [7]:
import phoenix as px
import llama_index

px.launch_app()
llama_index.core.set_global_handler("arize_phoenix")

/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
E0608 22:35:16.581313339   22313 chttp2_server.cc:1097]                UNKNOWN:No address added out of total 1 resolved for '[::]:4317' {created_time:"2024-06-08T22:35:16.581242035+08:00", children:[UNKNOWN:Failed to add any wildcard listeners {created_time:"2024-06-08T22:35:16.581235293+08:00", children:[UNKNOWN:Unable to configure socket {fd:89, created_time:"2024-06-08T22:35:16.581194115+08:00", children:[UNKNOWN:Address already in use {created_time:"2024-06-08T22:35:16.581174779+08:00", errno:98, os_error:"Address already in use", syscall:"bind"}]}, UNKNOWN:Unable to configure socket {created_time:"2024-06-08T22:35:16.581232848+08:00", fd:89, children:[UNKNOWN:Address already in use {created_time:"2024-06-08T22:35:16.581228801+08:00", errno:98, os_error:"Address already in use", syscall:"bind"}]}]}]}
ERROR:    Traceback (most recent call last):
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/starlette/routing.py", line 732, in lifespan
    async with self.lifespan_context(app) as maybe_state:
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/contextlib.py", line 210, in __aenter__
    return await anext(self.gen)
           ^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/phoenix/server/app.py", line 275, in lifespan
    async with bulk_inserter as (queue_span, queue_evaluation), GrpcServer(
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/phoenix/server/grpc_server.py", line 80, in __aenter__
    server.add_insecure_port(f"[::]:{get_env_grpc_port()}")
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/grpc/aio/_server.py", line 102, in add_insecure_port
    return _common.validate_port_binding_result(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/grpc/_common.py", line 181, in validate_port_binding_result
    raise RuntimeError(_ERROR_MESSAGE_PORT_BINDING_FAILED % address)
RuntimeError: Failed to bind to address [::]:4317; set GRPC_VERBOSITY=debug environment variable to see detailed error message.

ERROR:    Application startup failed. Exiting.
ERROR [phoenix.session.session] ðŸ’¥ Phoenix failed to start. Please try again (making sure that port 6006 is not occupied by another process) or file an issue with us at https://github.com/Arize-ai/phoenix

## Advanced Capability 1: Text-to-SQL with Query-Time Table Retrieval.

We now show you how to setup an e2e text-to-SQL with table retrieval.

### Define Modules

Here we define the core modules.
1. Object index + retriever to store table schemas
2. SQLDatabase object to connect to the above tables + SQLRetriever.
3. Text-to-SQL Prompt
4. Response synthesis Prompt
5. LLM

Object index, retriever, SQLDatabase

In [8]:
from llama_index.core.indices.struct_store.sql_query import (
    SQLTableRetrieverQueryEngine,
)
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import VectorStoreIndex

sql_database = SQLDatabase(engine)

table_node_mapping = SQLTableNodeMapping(sql_database)
table_schema_objs = [
    SQLTableSchema(table_name=t.table_name, context_str=t.table_summary)
    for t in table_infos
]  # add a SQLTableSchema for each table

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
)
obj_retriever = obj_index.as_retriever(similarity_top_k=3)

SQLRetriever + Table Parser

In [10]:
from llama_index.core.retrievers import NLSQLRetriever
from typing import List
from llama_index.core.query_pipeline import FnComponent

sql_retriever = NLSQLRetriever(sql_database)

def get_table_context_str(table_schema_objs: List[SQLTableSchema]):
    """Get table context string."""
    context_strs = []
    for table_schema_obj in table_schema_objs:
        table_info = sql_database.get_single_table_info(
            table_schema_obj.table_name
        )
        if table_schema_obj.context_str:
            table_opt_context = " The table description is: "
            table_opt_context += table_schema_obj.context_str
            table_info += table_opt_context

        context_strs.append(table_info)
    return "\n\n".join(context_strs)


table_parser_component = FnComponent(fn=get_table_context_str)

Text-to-SQL Prompt + Output Parser

In [11]:
from llama_index.core.prompts.default_prompts import DEFAULT_TEXT_TO_SQL_PROMPT
from llama_index.core import PromptTemplate
from llama_index.core.query_pipeline import FnComponent
from llama_index.core.llms import ChatResponse


def parse_response_to_sql(response: ChatResponse) -> str:
    """Parse response to SQL."""
    response = response.message.content
    sql_query_start = response.find("SQLQuery:")
    if sql_query_start != -1:
        response = response[sql_query_start:]
        # TODO: move to removeprefix after Python 3.9+
        if response.startswith("SQLQuery:"):
            response = response[len("SQLQuery:") :]
    sql_result_start = response.find("SQLResult:")
    if sql_result_start != -1:
        response = response[:sql_result_start]
    return response.strip().strip("```").strip()


sql_parser_component = FnComponent(fn=parse_response_to_sql)

text2sql_prompt = DEFAULT_TEXT_TO_SQL_PROMPT.partial_format(
    dialect=engine.dialect.name
)
print(text2sql_prompt.template)

Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
{schema}

Question: {query_str}
SQLQuery:

Response Synthesis Prompt

In [12]:
response_synthesis_prompt_str = (
    "Given an input question, synthesize a response from the query results.\n"
    "Query: {query_str}\n"
    "SQL: {sql_query}\n"
    "SQL Response: {context_str}\n"
    "Response: "
)
response_synthesis_prompt = PromptTemplate(
    response_synthesis_prompt_str,
)

In [13]:
llm = OpenAI(model="gpt-3.5-turbo")

### Define Query Pipeline

Now that the components are in place, let's define the query pipeline!

In [14]:
from llama_index.core.query_pipeline import QueryPipeline as QP, Link, InputComponent, CustomQueryComponent
from llama_index.core.llms import ChatResponse
from llama_index.core.prompts.default_prompts import DEFAULT_TEXT_TO_SQL_PROMPT
from llama_index.core import PromptTemplate, ServiceContext

## 2. Advanced Capability 2: Text-to-SQL with Query-Time Row Retrieval (along with Table Retrieval)

One problem in the previous example is that if the user asks a query that asks for "The Notorious BIG" but the artist is stored as "The Notorious B.I.G", then the generated SELECT statement will likely not return any matches.

We can alleviate this problem by fetching a small number of example rows per table. A naive option would be to just take the first k rows. Instead, we embed, index, and retrieve k relevant rows given the user query to give the text-to-SQL LLM the most contextually relevant information for SQL generation.

We now extend our query pipeline.

In [17]:
qp = QP(verbose=True)
# NOTE: service context will be deprecated in v0.10 (though will still be backwards compatible)
service_context = ServiceContext.from_defaults(callback_manager=qp.callback_manager)

/tmp/ipykernel_22218/1041081325.py:3: DeprecationWarning: Call to deprecated class method from_defaults. (ServiceContext is deprecated, please use `llama_index.settings.Settings` instead.) -- Deprecated since version 0.10.0.
  service_context = ServiceContext.from_defaults(callback_manager=qp.callback_manager)

### Index Each Table

We embed/index the rows of each table, resulting in one index per table.

In [19]:
from llama_index.core import VectorStoreIndex, load_index_from_storage
from sqlalchemy import text
from llama_index.core.schema import TextNode
from llama_index.core import StorageContext
import os
from pathlib import Path
from typing import Dict



def index_all_tables(
    sql_database: SQLDatabase, table_index_dir: str = "table_index_dir"
) -> Dict[str, VectorStoreIndex]:
    """Index all tables."""
    if not Path(table_index_dir).exists():
        os.makedirs(table_index_dir)

    vector_index_dict = {}
    engine = sql_database.engine
    for table_name in sql_database.get_usable_table_names():
        print(f"Indexing rows in table: {table_name}")
        if not os.path.exists(f"{table_index_dir}/{table_name}"):
            # get all rows from table
            with engine.connect() as conn:
                cursor = conn.execute(text(f'SELECT * FROM "{table_name}"'))
                result = cursor.fetchall()
                row_tups = []
                for row in result:
                    row_tups.append(tuple(row))

            # index each row, put into vector store index
            nodes = [TextNode(text=str(t)) for t in row_tups]

            # put into vector store index (use OpenAIEmbeddings by default)
            index = VectorStoreIndex(nodes, service_context=service_context)

            # save index
            index.set_index_id("vector_index")
            index.storage_context.persist(f"{table_index_dir}/{table_name}")
        else:
            # rebuild storage context
            storage_context = StorageContext.from_defaults(
                persist_dir=f"{table_index_dir}/{table_name}"
            )
            # load index
            index = load_index_from_storage(
                storage_context, index_id="vector_index", service_context=service_context
            )
        vector_index_dict[table_name] = index

    return vector_index_dict


vector_index_dict = index_all_tables(sql_database)

Indexing rows in table: categories
Indexing rows in table: product_info

### Define Expanded Table Parser Component

We expand the capability of our `table_parser_component` to not only return the relevant table schemas, but also return relevant rows per table schema.

It now takes in both `table_schema_objs` (output of table retriever), but also the original `query_str` which will then be used for vector retrieval of relevant rows.

In [20]:
from llama_index.core.retrievers import SQLRetriever
from typing import List
from llama_index.core.query_pipeline import FnComponent
sql_retriever = SQLRetriever(sql_database)


def get_table_context_and_rows_str(
    query_str: str, table_schema_objs: List[SQLTableSchema]
):
    """Get table context string."""
    context_strs = []
    for table_schema_obj in table_schema_objs:
        # first append table info + additional context
        table_info = sql_database.get_single_table_info(
            table_schema_obj.table_name
        )
        if table_schema_obj.context_str:
            table_opt_context = " The table description is: "
            table_opt_context += table_schema_obj.context_str
            table_info += table_opt_context

        # also lookup vector index to return relevant table rows
        vector_retriever = vector_index_dict[
            table_schema_obj.table_name
        ].as_retriever(similarity_top_k=2)
        relevant_nodes = vector_retriever.retrieve(query_str)
        if len(relevant_nodes) > 0:
            table_row_context = "\nHere are some relevant example rows (values in the same order as columns above)\n"
            for node in relevant_nodes:
                table_row_context += str(node.get_content()) + "\n"
            table_info += table_row_context

        context_strs.append(table_info)
    return "\n\n".join(context_strs)


table_parser_component = FnComponent(fn=get_table_context_and_rows_str)

### Define Expanded Query Pipeline

This looks similar to the query pipeline in section 1, but with an upgraded table_parser_component.

In [21]:


qp.add_modules({
    "input": InputComponent(),
    "table_retriever": obj_retriever,
    "table_output_parser": table_parser_component,
    "text2sql_prompt": text2sql_prompt,
    "text2sql_llm": llm,
    "sql_output_parser": sql_parser_component,
    "sql_retriever": sql_retriever,
    "response_synthesis_prompt": response_synthesis_prompt,
    "response_synthesis_llm": llm,
})

In [22]:
qp.add_link("input", "table_retriever")
qp.add_link("input", "table_output_parser", dest_key="query_str")
qp.add_link(
    "table_retriever", "table_output_parser", dest_key="table_schema_objs"
)
qp.add_link("input", "text2sql_prompt", dest_key="query_str")
qp.add_link("table_output_parser", "text2sql_prompt", dest_key="schema")
qp.add_chain(
    ["text2sql_prompt", "text2sql_llm", "sql_output_parser", "sql_retriever"]
)
qp.add_link(
    "sql_output_parser", "response_synthesis_prompt", dest_key="sql_query"
)
qp.add_link(
    "sql_retriever", "response_synthesis_prompt", dest_key="context_str"
)
qp.add_link("input", "response_synthesis_prompt", dest_key="query_str")
qp.add_link("response_synthesis_prompt", "response_synthesis_llm")

In [ ]:
from pyvis.network import Network

net = Network(notebook=True, cdn_resources="in_line", directed=True)
net.from_nx(qp.dag)
net.show("text2sql_dag.html")

### Run Some Queries

We can now ask about relevant entries even if it doesn't exactly match the entry in the database.

In [ ]:

print(str(response))

In [25]:
import http.server
import socketserver

PORT = 8001

class MyRequestHandler(http.server.BaseHTTPRequestHandler):
    def do_GET(self):
        if self.path == '/':
            self.send_response(200)
            self.send_header("Content-type", "text/html")
            self.end_headers()
            with open('templates/chatbot.html', 'r') as f:
                self.wfile.write(f.read().encode())
        else:
            print()
            # super().do_GET()

    def do_POST(self):
        content_length = int(self.headers['Content-Length'])
        post_data = self.rfile.read(content_length).decode()
        print(post_data)
        query = post_data
        response = qp.run(
            query=query
        )
        response = str(response).split("assistant: ")[1].strip()
        self.send_response(200)
        self.send_header("Content-type", "text/html")
        self.end_headers()
        self.wfile.write(f"""{response}""".encode())

with socketserver.TCPServer(("", PORT), MyRequestHandler) as httpd:
    print(f"Serving at port {PORT}")
    httpd.serve_forever()

Serving at port 8001

127.0.0.1 - - [08/Jun/2024 22:41:53] "GET / HTTP/1.1" 200 -

what is the average tariff rate for coconuts?
> Running module input with input:
query: what is the average tariff rate for coconuts?

> Running module table_retriever with input:
input: what is the average tariff rate for coconuts?

> Running module table_output_parser with input:
query_str: what is the average tariff rate for coconuts?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the average tariff rate for coconuts?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'
SQLResult:
avg_tariff_rate
12.5
Answer: The average tariff rate for coconuts is 12.5.

> Running module sql_retriever with input:
input: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'

> Running module response_synthesis_prompt with input:
query_str: what is the average tariff rate for coconuts?
sql_query: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'
context_str: [NodeWithScore(node=TextNode(id_='60a643ee-8984-43bc-ae85-288d1705f130', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(11.25,)]...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the average tariff rate for coconuts?
SQL: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product...

127.0.0.1 - - [08/Jun/2024 22:42:12] "POST / HTTP/1.1" 200 -

how many vegetables are in the system?
> Running module input with input:
query: how many vegetables are in the system?

> Running module table_retriever with input:
input: how many vegetables are in the system?

> Running module table_output_parser with input:
query_str: how many vegetables are in the system?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: how many vegetables are in the system?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT COUNT(*)
FROM categories
WHERE category_description LIKE '%vegetables%'
SQLResult: 0
Answer: 0

> Running module sql_retriever with input:
input: SELECT COUNT(*)
FROM categories
WHERE category_description LIKE '%vegetables%'

> Running module response_synthesis_prompt with input:
query_str: how many vegetables are in the system?
sql_query: SELECT COUNT(*)
FROM categories
WHERE category_description LIKE '%vegetables%'
context_str: [NodeWithScore(node=TextNode(id_='9d159df4-f54f-4dd2-b95c-651fef959c56', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(0,)]', s...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: how many vegetables are in the system?
SQL: SELECT COUNT(*)
FROM categories
WHERE category_description LIKE '%vegetables...

127.0.0.1 - - [08/Jun/2024 22:42:34] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:42:39] "GET / HTTP/1.1" 200 -

what are the kinds of coconuts available?
> Running module input with input:
query: what are the kinds of coconuts available?

> Running module table_retriever with input:
input: what are the kinds of coconuts available?

> Running module table_output_parser with input:
query_str: what are the kinds of coconuts available?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what are the kinds of coconuts available?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT product_id, product_description
FROM product_info
WHERE product_description LIKE '%Coconuts%'
SQLResult:
product_id | product_description
8011200 | Coconuts, Fresh
8011100 | Coconut...

> Running module sql_retriever with input:
input: SELECT product_id, product_description
FROM product_info
WHERE product_description LIKE '%Coconuts%'

> Running module response_synthesis_prompt with input:
query_str: what are the kinds of coconuts available?
sql_query: SELECT product_id, product_description
FROM product_info
WHERE product_description LIKE '%Coconuts%'
context_str: [NodeWithScore(node=TextNode(id_='de45395a-7ce9-4f5c-98ca-f9f801b50553', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="[(8011100,...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what are the kinds of coconuts available?
SQL: SELECT product_id, product_description
FROM product_info
WHERE product_desc...

127.0.0.1 - - [08/Jun/2024 22:43:01] "POST / HTTP/1.1" 200 -

what is the average rate for apples?
> Running module input with input:
query: what is the average rate for apples?

> Running module table_retriever with input:
input: what is the average rate for apples?

> Running module table_output_parser with input:
query_str: what is the average rate for apples?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the average rate for apples?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT AVG(rate_MFN)
FROM product_info
WHERE product_description = 'Apples'
SQLResult: 7
Answer: The average rate for apples is 7.

> Running module sql_retriever with input:
input: SELECT AVG(rate_MFN)
FROM product_info
WHERE product_description = 'Apples'

> Running module response_synthesis_prompt with input:
query_str: what is the average rate for apples?
sql_query: SELECT AVG(rate_MFN)
FROM product_info
WHERE product_description = 'Apples'
context_str: [NodeWithScore(node=TextNode(id_='53ea9813-f838-4646-ae02-1905e2c9b30c', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(7.0,)]',...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the average rate for apples?
SQL: SELECT AVG(rate_MFN)
FROM product_info
WHERE product_description = 'Apples'
SQ...

127.0.0.1 - - [08/Jun/2024 22:43:19] "POST / HTTP/1.1" 200 -

what is the tariff rate for strawberries?
> Running module input with input:
query: what is the tariff rate for strawberries?

> Running module table_retriever with input:
input: what is the tariff rate for strawberries?

> Running module table_output_parser with input:
query_str: what is the tariff rate for strawberries?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the tariff rate for strawberries?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT p.rate_MFN, p.rate_ATIGA
FROM product_info p
JOIN categories c ON p.category_id = c.category_id
WHERE c.category_description LIKE '%strawberries%'
SQLResult:
rate_MFN | rate_ATIGA
1...

> Running module sql_retriever with input:
input: SELECT p.rate_MFN, p.rate_ATIGA
FROM product_info p
JOIN categories c ON p.category_id = c.category_id
WHERE c.category_description LIKE '%strawberries%'

> Running module response_synthesis_prompt with input:
query_str: what is the tariff rate for strawberries?
sql_query: SELECT p.rate_MFN, p.rate_ATIGA
FROM product_info p
JOIN categories c ON p.category_id = c.category_id
WHERE c.category_description LIKE '%strawberries%'
context_str: [NodeWithScore(node=TextNode(id_='40838adf-5314-4a33-8f7e-d198dbf31f0d', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[]', start...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the tariff rate for strawberries?
SQL: SELECT p.rate_MFN, p.rate_ATIGA
FROM product_info p
JOIN categories c ON p....

127.0.0.1 - - [08/Jun/2024 22:43:40] "POST / HTTP/1.1" 200 -

what is the rate for strawberries?
> Running module input with input:
query: what is the rate for strawberries?

> Running module table_retriever with input:
input: what is the rate for strawberries?

> Running module table_output_parser with input:
query_str: what is the rate for strawberries?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the rate for strawberries?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT rate_MFN, rate_ATIGA
FROM product_info
WHERE product_description = 'Strawberries'
SQLResult:
rate_MFN | rate_ATIGA
15       | 0

Answer: The rate for strawberries is 15 for MFN and ...

> Running module sql_retriever with input:
input: SELECT rate_MFN, rate_ATIGA
FROM product_info
WHERE product_description = 'Strawberries'

> Running module response_synthesis_prompt with input:
query_str: what is the rate for strawberries?
sql_query: SELECT rate_MFN, rate_ATIGA
FROM product_info
WHERE product_description = 'Strawberries'
context_str: [NodeWithScore(node=TextNode(id_='bf2a1a18-fda5-4d55-ad7e-1a4dca3b23ba', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(15, 0)]'...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the rate for strawberries?
SQL: SELECT rate_MFN, rate_ATIGA
FROM product_info
WHERE product_description = 'Strawbe...

127.0.0.1 - - [08/Jun/2024 22:43:55] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:43:57] "GET / HTTP/1.1" 200 -

what is the average tariff rate for apples?
> Running module input with input:
query: what is the average tariff rate for apples?

> Running module table_retriever with input:
input: what is the average tariff rate for apples?

> Running module table_output_parser with input:
query_str: what is the average tariff rate for apples?
table_schema_objs: [SQLTableSchema(table_name='product_info', context_str='Summary of product information including product ID, category ID, tariff rates, product description, and effective year.'), SQLTableSchema(table...

> Running module text2sql_prompt with input:
query_str: what is the average tariff rate for apples?
schema: Table 'product_info' has columns: product_id (INTEGER), category_id (INTEGER), rate_MFN (INTEGER), rate_ATIGA (INTEGER), product_description (VARCHAR), effective_year (INTEGER), and foreign keys: . Th...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description = 'Apples'
SQLResult:
avg_tariff_rate
7
Answer: The average tariff rate for apples is 7.

> Running module sql_retriever with input:
input: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description = 'Apples'

> Running module response_synthesis_prompt with input:
query_str: what is the average tariff rate for apples?
sql_query: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description = 'Apples'
context_str: [NodeWithScore(node=TextNode(id_='c7e9be3b-9670-4e5b-b906-e68f186bc05d', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(7.0,)]',...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the average tariff rate for apples?
SQL: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_d...

127.0.0.1 - - [08/Jun/2024 22:44:19] "POST / HTTP/1.1" 200 -

how many kinds of apples are in the database?
> Running module input with input:
query: how many kinds of apples are in the database?

> Running module table_retriever with input:
input: how many kinds of apples are in the database?

> Running module table_output_parser with input:
query_str: how many kinds of apples are in the database?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: how many kinds of apples are in the database?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT COUNT(*)
FROM product_info
WHERE product_description = 'Apples';
SQLResult: 1
Answer: There is 1 kind of apples in the database.

> Running module sql_retriever with input:
input: SELECT COUNT(*)
FROM product_info
WHERE product_description = 'Apples';

> Running module response_synthesis_prompt with input:
query_str: how many kinds of apples are in the database?
sql_query: SELECT COUNT(*)
FROM product_info
WHERE product_description = 'Apples';
context_str: [NodeWithScore(node=TextNode(id_='7a5fe3da-b287-4cc1-b4e2-20bdb2b26e61', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(1,)]', s...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: how many kinds of apples are in the database?
SQL: SELECT COUNT(*)
FROM product_info
WHERE product_description = 'Apples...

127.0.0.1 - - [08/Jun/2024 22:44:45] "POST / HTTP/1.1" 200 -

how many kinds of coconuts are in the database?
> Running module input with input:
query: how many kinds of coconuts are in the database?

> Running module table_retriever with input:
input: how many kinds of coconuts are in the database?

> Running module table_output_parser with input:
query_str: how many kinds of coconuts are in the database?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: how many kinds of coconuts are in the database?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%Coconuts%'
SQLResult: 2
Answer: There are 2 kinds of coconuts in the database.

> Running module sql_retriever with input:
input: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%Coconuts%'

> Running module response_synthesis_prompt with input:
query_str: how many kinds of coconuts are in the database?
sql_query: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%Coconuts%'
context_str: [NodeWithScore(node=TextNode(id_='08c6be14-7717-411e-be34-43031da4425a', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(4,)]', s...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: how many kinds of coconuts are in the database?
SQL: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%...

127.0.0.1 - - [08/Jun/2024 22:44:58] "POST / HTTP/1.1" 200 -

what categories are in the database?
> Running module input with input:
query: what categories are in the database?

> Running module table_retriever with input:
input: what categories are in the database?

> Running module table_output_parser with input:
query_str: what categories are in the database?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what categories are in the database?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT category_description FROM categories
SQLResult:
category_description
Apricots, cherries, peaches (including nectarines), plums and sloes, fresh.
Dates, figs, pineapples, avocados, g...

> Running module sql_retriever with input:
input: SELECT category_description FROM categories

> Running module response_synthesis_prompt with input:
query_str: what categories are in the database?
sql_query: SELECT category_description FROM categories
context_str: [NodeWithScore(node=TextNode(id_='9e3f200e-39b7-4b73-a616-124c2376247c', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="[('Coconut...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what categories are in the database?
SQL: SELECT category_description FROM categories
SQL Response: ["Node ID: 9e3f200e-39...

127.0.0.1 - - [08/Jun/2024 22:45:40] "POST / HTTP/1.1" 200 -

what is the database about?
> Running module input with input:
query: what is the database about?

> Running module table_retriever with input:
input: what is the database about?

> Running module table_output_parser with input:
query_str: what is the database about?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the database about?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT category_description, product_description
FROM categories
JOIN product_info ON categories.category_id = product_info.category_id
ORDER BY category_id;
SQLResult:
category_description...

> Running module sql_retriever with input:
input: SELECT category_description, product_description
FROM categories
JOIN product_info ON categories.category_id = product_info.category_id
ORDER BY category_id;

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 44712)
Traceback (most recent call last):
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1967, in _exec_single_context
    self.dialect.do_execute(
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 924, in do_execute
    cursor.execute(statement, parameters)
sqlite3.OperationalError: ambiguous column name: category_id

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/utilities/sql_wrapper.py", line 221, in run_sql
    cursor = connection.execute(text(command))
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1418, in execute
    return meth(
           ^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/sql/elements.py", line 515, in _execute_on_connection
    return connection._execute_clauseelement(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1640, in _execute_clauseelement
    ret = self._execute_context(
          ^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1846, in _execute_context
    return self._exec_single_context(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1986, in _exec_single_context
    self._handle_dbapi_exception(
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 2353, in _handle_dbapi_exception
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1967, in _exec_single_context
    self.dialect.do_execute(
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 924, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) ambiguous column name: category_id
[SQL: SELECT category_description, product_description
FROM categories
JOIN product_info ON categories.category_id = product_info.category_id
ORDER BY category_id;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/socketserver.py", line 755, in __init__
    self.handle()
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/http/server.py", line 436, in handle
    self.handle_one_request()
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/http/server.py", line 424, in handle_one_request
    method()
  File "/tmp/ipykernel_22218/4030846741.py", line 23, in do_POST
    response = qp.run(
               ^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/query_pipeline/query.py", line 321, in run
    outputs, _ = self._run(
                 ^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/query_pipeline/query.py", line 673, in _run
    result_outputs, intermediates = self._run_multi(
                                    ^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/query_pipeline/query.py", line 876, in _run_multi
    output_dict = module.run_component(**module_input)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/base/query_pipeline/query.py", line 199, in run_component
    component_outputs = self._run_component(**kwargs)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/base/base_retriever.py", line 344, in _run_component
    output = self.retriever.retrieve(kwargs["input"])
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/instrumentation/dispatcher.py", line 198, in wrapper
    result = func(*args, **kwargs)
             ^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/base/base_retriever.py", line 242, in retrieve
    nodes = self._retrieve(query_bundle)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/indices/struct_store/sql_retriever.py", line 101, in _retrieve
    retrieved_nodes, _ = self.retrieve_with_metadata(query_bundle)
                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/indices/struct_store/sql_retriever.py", line 85, in retrieve_with_metadata
    raw_response_str, metadata = self._sql_database.run_sql(query_bundle.query_str)
                                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/theebatican/anaconda3/envs/itanong/lib/python3.11/site-packages/llama_index/core/utilities/sql_wrapper.py", line 223, in run_sql
    raise NotImplementedError(
NotImplementedError: Statement 'SELECT category_description, product_description\nFROM categories\nJOIN product_info ON categories.category_id = product_info.category_id\nORDER BY category_id;' is invalid SQL.
----------------------------------------
127.0.0.1 - - [08/Jun/2024 22:46:20] "GET / HTTP/1.1" 200 -

what is the average rate for coconuts?
> Running module input with input:
query: what is the average rate for coconuts?

> Running module table_retriever with input:
input: what is the average rate for coconuts?

> Running module table_output_parser with input:
query_str: what is the average rate for coconuts?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the average rate for coconuts?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT AVG(rate_MFN) AS avg_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'
SQLResult:
avg_rate
12.5
Answer: The average tariff rate for coconuts is 12.5%.

> Running module sql_retriever with input:
input: SELECT AVG(rate_MFN) AS avg_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'

> Running module response_synthesis_prompt with input:
query_str: what is the average rate for coconuts?
sql_query: SELECT AVG(rate_MFN) AS avg_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'
context_str: [NodeWithScore(node=TextNode(id_='0c425b97-3127-45fa-8439-21deee5086b3', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(11.25,)]...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the average rate for coconuts?
SQL: SELECT AVG(rate_MFN) AS avg_rate
FROM product_info
WHERE product_description L...

127.0.0.1 - - [08/Jun/2024 22:46:39] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:46:46] "GET / HTTP/1.1" 200 -

what is the average tariff rate for coconuts?
> Running module input with input:
query: what is the average tariff rate for coconuts?

> Running module table_retriever with input:
input: what is the average tariff rate for coconuts?

> Running module table_output_parser with input:
query_str: what is the average tariff rate for coconuts?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the average tariff rate for coconuts?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'
SQLResult:
avg_tariff_rate
12.5
Answer: The average tariff rate for coconuts is 12.5.

> Running module sql_retriever with input:
input: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'

> Running module response_synthesis_prompt with input:
query_str: what is the average tariff rate for coconuts?
sql_query: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product_description LIKE '%Coconuts%'
context_str: [NodeWithScore(node=TextNode(id_='174e2a62-8a96-4864-bb9f-f635d6385b05', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(11.25,)]...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the average tariff rate for coconuts?
SQL: SELECT AVG(rate_MFN) AS avg_tariff_rate
FROM product_info
WHERE product...

127.0.0.1 - - [08/Jun/2024 22:47:04] "POST / HTTP/1.1" 200 -

what is the tariff rate for mangoes?
> Running module input with input:
query: what is the tariff rate for mangoes?

> Running module table_retriever with input:
input: what is the tariff rate for mangoes?

> Running module table_output_parser with input:
query_str: what is the tariff rate for mangoes?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: what is the tariff rate for mangoes?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT product_info.rate_MFN, product_info.rate_ATIGA
FROM product_info
JOIN categories ON product_info.category_id = categories.category_id
WHERE categories.category_description LIKE '%Man...

> Running module sql_retriever with input:
input: SELECT product_info.rate_MFN, product_info.rate_ATIGA
FROM product_info
JOIN categories ON product_info.category_id = categories.category_id
WHERE categories.category_description LIKE '%Mangoes%'

> Running module response_synthesis_prompt with input:
query_str: what is the tariff rate for mangoes?
sql_query: SELECT product_info.rate_MFN, product_info.rate_ATIGA
FROM product_info
JOIN categories ON product_info.category_id = categories.category_id
WHERE categories.category_description LIKE '%Mangoes%'
context_str: [NodeWithScore(node=TextNode(id_='d32f5638-7ce7-49d8-b8ac-db986f360cf8', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(3, 0), (...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: what is the tariff rate for mangoes?
SQL: SELECT product_info.rate_MFN, product_info.rate_ATIGA
FROM product_info
JOIN cat...

127.0.0.1 - - [08/Jun/2024 22:47:24] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:47:31] "GET / HTTP/1.1" 200 -

how many types of mangoes are in the system?
> Running module input with input:
query: how many types of mangoes are in the system?

> Running module table_retriever with input:
input: how many types of mangoes are in the system?

> Running module table_output_parser with input:
query_str: how many types of mangoes are in the system?
table_schema_objs: [SQLTableSchema(table_name='categories', context_str='Categories of fresh or dried fruits including coconuts, nuts, bananas, dates, citrus fruit, grapes, melons, apples, pears, quinces, apricots, cher...

> Running module text2sql_prompt with input:
query_str: how many types of mangoes are in the system?
schema: Table 'categories' has columns: category_id (INTEGER), category_description (VARCHAR), and foreign keys: . The table description is: Categories of fresh or dried fruits including coconuts, nuts, banan...

> Running module text2sql_llm with input:
messages: Given an input question, first create a syntactically correct sqlite query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return...

> Running module sql_output_parser with input:
response: assistant: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%Mangoes%'
SQLResult: 2
Answer: There are 2 types of mangoes in the system.

> Running module sql_retriever with input:
input: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%Mangoes%'

> Running module response_synthesis_prompt with input:
query_str: how many types of mangoes are in the system?
sql_query: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%Mangoes%'
context_str: [NodeWithScore(node=TextNode(id_='7ad3137c-46f0-464b-93ae-38d41f630452', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text='[(2,)]', s...

> Running module response_synthesis_llm with input:
messages: Given an input question, synthesize a response from the query results.
Query: how many types of mangoes are in the system?
SQL: SELECT COUNT(*)
FROM product_info
WHERE product_description LIKE '%Man...

127.0.0.1 - - [08/Jun/2024 22:47:47] "POST / HTTP/1.1" 200 -